/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway/raleway-v22-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway/raleway-v22-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/raleway-v22-latin-700.woff2") format("woff2"), url("../fonts/raleway/raleway-v22-latin-700.woff") format("woff"), url("../fonts/raleway/raleway-v22-latin-700.ttf") format("truetype"), url("../fonts/raleway/raleway-v22-latin-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto/roboto-v27-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto/roboto-v27-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v27-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto/roboto-v27-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto/roboto-v27-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto/roboto-v27-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto/roboto-v27-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto/roboto-v27-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v27-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto/roboto-v27-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto/roboto-v27-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto/roboto-v27-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto/roboto-v27-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto/roboto-v27-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v27-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto/roboto-v27-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto/roboto-v27-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto/roboto-v27-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto/roboto-v27-latin_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto/roboto-v27-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v27-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto/roboto-v27-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto/roboto-v27-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto/roboto-v27-latin_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --font-logotype: 'Raleway', serif, sans-serif;
  --main-font-regular: 'Roboto-main', serif, sans-serif;
  --secondary-font-regular: 'Roboto-main500', serif, sans-serif;
  --main-font-bold: 'Roboto-bold', serif, sans-serif;
  --main-font-black: 'Roboto-black', serif, sans-serif;
  --main-color-dark: #212121;
  --main-color-light: #ffffff;
  --secondary-color-dark: #000000;
  --secondary-color-light: #757575;
  --secondary-color-light-transp: rgba(255, 255, 255, 0.6);
  --background-color-font: #c4c4c4;
  --background-color-dark: #2f303a;
  --background-color-light: #f5f4fa;
  --accent-color: #2196f3;
  --accent-color-hover: #188ce8;
  --icon-color-fill: #afb1b8;
  --header-color-border: #ececec;
  --main-text-size: 14px;
  --secondary-text-size: 16px;
  --main-text-letter-spacing: 0.03em;
  --main-transition-duration: 250ms;
  --main-transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: var(--main-text-size);
  letter-spacing: var(--main-text-letter-spacing);
  color: var(--main-color-dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  font-size: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.section {
  padding: 60px 0;
  text-align: center;
}

.section--services {
  display: none;
}

.section--team {
  background-color: var(--background-color-light);
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

.container--footer {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .container--footer {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
  .section--features {
    padding-bottom: 47px;
  }
  .section--services {
    display: block;
    padding-top: 47px;
  }
  .container {
    max-width: 1200px;
  }
  .container--footer {
    display: flex;
    flex-wrap: nowrap;
  }
}

.list {
  list-style: none;
}

.link {
  font-size: inherit;
  text-decoration: none;
  color: var(--main-color-dark);
}

.button-base {
  font-family: inherit;
  cursor: pointer;
  color: var(--main-color-dark);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.header {
  border-bottom: 1px solid var(--header-color-border);
}

.header__container {
  display: flex;
  align-items: center;
}

.header__contacts {
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .header__container {
    padding-top: 5px;
    padding-bottom: 4px;
    padding-right: 27px;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 18px;
    padding-bottom: 17px;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    padding-top: 23px;
    padding-bottom: 23px;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .menu__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    fill: var(--main-color-dark);
    transition: fill var(--main-transition-duration) var(--main-transition-function);
  }
  .menu__container:hover, .menu__container:focus {
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow-y: auto;
  transform: scale(0.5);
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: var(--main-color-light);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  transition: transform var(--main-transition-duration) var(--main-transition-function), opacity var(--main-transition-duration) var(--main-transition-function), visibility var(--main-transition-duration) var(--main-transition-function);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: scale(1);
}

.mobile-menu__closer {
  position: absolute;
  top: 21px;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  fill: var(--secondary-color-dark);
  transition: fill var(--main-transition-duration) var(--main-transition-function);
}

.mobile-menu__closer:hover, .mobile-menu__closer:focus {
  fill: var(--accent-color);
}

.mobile-menu__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu__contacts {
  margin-bottom: 64px;
}

.mobile-menu__social {
  display: flex;
  justify-content: center;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__item--social {
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.mobile-menu__item--social:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color var(--main-transition-duration) var(--main-transition-function);
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
}

.mobile-menu__link--nav {
  font-size: 40px;
  line-height: 1.18;
}

.mobile-menu__link--tel {
  font-size: 34px;
  line-height: 1.18;
  color: var(--accent-color);
}

.mobile-menu__link--mail {
  font-size: 24px;
  line-height: 1.17;
}

.mobile-menu__link--social {
  font-size: 18px;
  line-height: 1.22;
  color: var(--accent-color);
}

.mobile-menu__link--current {
  color: var(--accent-color);
}

@media screen and (max-width: 479px) {
  .mobile-menu__closer {
    width: 25px;
    height: 25px;
  }
  .mobile-menu__item:not(:last-child) {
    margin-bottom: 18px;
  }
  .mobile-menu__item--social {
    padding-left: 5px;
    padding-right: 5px;
  }
  .mobile-menu__link--nav {
    font-size: 24px;
  }
  .mobile-menu__link--tel {
    font-size: 18px;
  }
  .mobile-menu__link--mail {
    font-size: 12px;
  }
  .mobile-menu__link--social {
    font-size: 10px;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
  }
  .navigation__logo {
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    color: var(--secondary-color-dark);
    margin-right: 88px;
  }
  .navigation__logo--accent {
    color: var(--accent-color);
  }
  .navigation__list {
    display: flex;
    align-items: center;
  }
  .navigation__item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation__link {
    display: block;
    padding: 8px 0 7px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--main-transition-duration) var(--main-transition-function);
  }
  .navigation__link:hover, .navigation__link:focus {
    color: var(--accent-color);
  }
  .navigation__link--current {
    position: relative;
    color: var(--accent-color);
  }
  .navigation__link--current::after {
    content: '';
    position: absolute;
    left: 0;
    display: block;
    margin-top: 27px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .contacts__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-color-light);
    fill: var(--secondary-color-light);
    transition: color var(--main-transition-duration) var(--main-transition-function), fill var(--main-transition-duration) var(--main-transition-function);
  }
  .contacts__link:hover, .contacts__link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
  .contacts__iconwrapper {
    margin-right: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row;
    align-items: center;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
  .contacts__link {
    padding: 8px 0 6px;
    font-size: var(--main-text-size);
  }
}

.hero {
  margin: 0 auto;
  padding: 118px 0;
  max-width: 767px;
  min-height: 400px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg/mobile/bg-hero-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg/mobile/bg-hero-mobile@2x.jpg");
  }
}

.hero__container {
  text-align: center;
}

.hero__title {
  margin: 0 auto 30px;
  max-width: 360px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: var(--main-color-light);
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 1199px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg/tablet/bg-hero-tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg/tablet/bg-hero-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    max-width: 1600px;
    min-height: 600px;
    background-color: var(--background-color-font);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg/desktop/bg-hero-desktop.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg/desktop/bg-hero-desktop@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 610px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.features__item:not(:last-child) {
  margin-bottom: 30px;
}

.features__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: var(--background-color-light);
}

.features__title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
}

.features__text {
  text-align: left;
  line-height: 1.71;
  color: var(--secondary-color-light);
}

@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .features__item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 60px) / 2);
    text-align: left;
  }
  .features__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.services {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.services__item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.services__container {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 27px 15px;
  width: 100%;
  text-align: center;
  background-color: var(--background-color-dark);
  opacity: 0.8;
}

.services__title {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  color: var(--main-color-light);
}

.team__item:not(:last-child) {
  margin-bottom: 30px;
}

.team__item {
  max-width: 450px;
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .team__item:not(:last-child) {
    margin-bottom: 0;
  }
  .team__item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.teammate {
  margin: 0 auto;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-color-light);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.teammate__container {
  padding: 30px 0 24px;
  font-size: var(--secondary-text-size);
  line-height: 1.19;
}

.teammate__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: var(--secondary-text-size);
  line-height: 1.19;
}

.teammate__text {
  margin-bottom: 16px;
  color: var(--secondary-color-light);
}

@media screen and (min-width: 1200px) {
  .teammate__container {
    padding-bottom: 30px;
  }
}

.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: -30px;
  margin-left: -30px;
}

.clients__item {
  height: 92px;
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 60px) / 2);
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-color-fill);
  border-radius: 4px;
  fill: var(--icon-color-fill);
  transition: border-color var(--main-transition-duration) var(--main-transition-function), fill var(--main-transition-duration) var(--main-transition-function);
}

.clients__link:hover, .clients__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.footer {
  padding: 60px 0;
  background-color: var(--background-color-dark);
}

.footer__logo {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  margin-bottom: 20px;
  color: var(--main-color-light);
}

.footer__logo--accent {
  color: var(--accent-color);
}

.footer__adress {
  margin-bottom: 60px;
}

.footer__social {
  margin-bottom: 60px;
}

.footer__title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--main-text-size);
  line-height: 1.14;
  letter-spacing: var(--main-text-letter-spacing);
  color: var(--main-color-light);
}

.footer__form {
  display: flex;
  flex-direction: column;
}

.footer__input {
  margin-bottom: 20px;
  width: 100%;
  padding: 14px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: var(--secondary-text-size);
  line-height: 1.25;
  color: var(--main-color-light);
  background-color: transparent;
  outline: none;
}

.footer__input:focus {
  border-color: var(--accent-color);
}

.footer__input::placeholder {
  color: var(--secondary-color-light-transp);
}

@media screen and (min-width: 768px) {
  .footer__adress {
    margin-bottom: 0;
  }
  .footer__social {
    margin-bottom: 0;
    margin-left: auto;
  }
  .footer__subscription {
    margin: 0 auto;
    min-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    text-align-last: left;
    font-size: 26px;
    line-height: 1.19;
  }
  .footer__adress {
    margin-right: 70px;
  }
  .footer__social {
    margin-left: 0;
  }
  .footer__title {
    margin-top: 12px;
    text-align: left;
  }
  .footer__subscription {
    margin-right: 0;
  }
  .footer__form {
    flex-direction: row;
    align-items: center;
  }
  .footer__input {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.adress__item:not(:last-child) {
  margin-bottom: 8px;
}

.adress__link {
  display: block;
  margin-bottom: 8px;
  font-style: normal;
  line-height: 1.71;
  color: var(--main-color-light);
  transition: color var(--main-transition-duration) var(--main-transition-function);
}

.adress__link--mail, .adress__link--tel {
  color: var(--secondary-color-light-transp);
}

.adress__link:hover, .adress__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .adress {
    text-align-last: left;
  }
  .adress__item:not(:last-child) {
    margin-bottom: 9px;
  }
  .adress__link {
    margin-bottom: 9px;
  }
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 50px;
}

.filters__item:not(:last-child) {
  margin-bottom: 15px;
  margin-right: 8px;
}

.filters__button {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
  font-size: var(--secondary-text-size);
  line-height: 1.63;
  background-color: var(--background-color-light);
  transition: color var(--main-transition-duration) var(--main-transition-function), background-color var(--main-transition-duration) var(--main-transition-function), box-shadow var(--main-transition-duration) var(--main-transition-function);
}

.filters__button--current {
  color: var(--main-color-light);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters__button:hover, .filters__button:focus {
  color: var(--main-color-light);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .filters {
    flex-wrap: nowrap;
    justify-content: center;
  }
  .filters__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.collection__item:not(:last-child) {
  margin-bottom: 30px;
}

.collection__link {
  display: block;
  transition: box-shadow var(--main-transition-duration) var(--main-transition-function);
}

.collection__link:hover, .collection__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.collection__link:hover .overlay,
.collection__link:focus .overlay {
  transform: translateY(-100%);
}

@media screen and (min-width: 768px) {
  .collection {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .collection__item:not(:last-child) {
    margin-bottom: 0;
  }
  .collection__item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .collection__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.product {
  margin: 0 auto;
  box-sizing: border-box;
  background-color: var(--main-color-light);
}

.product__container {
  overflow: hidden;
}

.product__description {
  margin: 0;
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  text-align: left;
}

.product__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product__text {
  font-size: var(--secondary-text-size);
  line-height: 1.88;
  color: var(--secondary-color-light);
}

.logo {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.08;
  color: var(--secondary-color-dark);
}

.logo__accent {
  color: var(--accent-color);
}

.button {
  padding: 10px;
  min-width: 200px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: var(--secondary-text-size);
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-color-light);
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--main-transition-duration) var(--main-transition-function);
}

.button__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__text {
  margin-right: 10px;
}

.button__iconwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  fill: var(--main-color-light);
}

.button:hover, .button:focus {
  background-color: var(--accent-color-hover);
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
}

.title--section {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.17;
  }
  .title--section {
    margin-bottom: 50px;
  }
}

.social {
  display: flex;
  justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: var(--icon-color-fill);
  transition: background-color var(--main-transition-duration) var(--main-transition-function), fill var(--main-transition-duration) var(--main-transition-function);
}

.social__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  fill: var(--main-color-light);
}

.overlay-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 77px 24px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform var(--main-transition-duration) var(--main-transition-function);
}

.overlay__content {
  text-align: left;
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-color-light);
}

@media screen and (min-width: 768px) {
  .overlay {
    padding-top: 49px;
    padding-bottom: 49px;
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    padding-top: 63px;
    padding-bottom: 63px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--main-transition-duration) var(--main-transition-function), visibility var(--main-transition-duration) var(--main-transition-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 320px;
  border-radius: 4px;
  background-color: var(--main-color-light);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform var(--main-transition-duration) var(--main-transition-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal__closer {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: transparent;
  fill: var(--secondary-color-dark);
  transition: fill var(--main-transition-duration) var(--main-transition-function);
}

.modal__closer:hover, .modal__closer:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.form {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.form__group {
  margin-bottom: 20px;
}

.form__group--checkbox {
  margin-bottom: 30px;
}

.form__text {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}

.form__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__container--comments {
  margin-bottom: 0;
}

.form__container--submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-color-light);
}

.form__label--checkbox {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  align-items: center;
}

.form__inputwrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 4px;
  fill: var(--main-color-dark);
  transition: fill var(--main-transition-duration) var(--main-transition-function);
}

.form__input {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 42px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: var(--secondary-text-size);
  outline: none;
  transition: border-color var(--main-transition-duration) var(--main-transition-function);
}

.form__input:focus {
  border-color: var(--accent-color);
}

.form__iconwrapper {
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  fill: var(--secondary-color-dark);
}

.form__input:focus + .form__iconwrapper {
  fill: var(--accent-color);
}

.form__textarea {
  margin-top: 4px;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  height: 120px;
  border-radius: 4px;
  font-size: var(--secondary-text-size);
  outline: none;
  transition: border-color var(--main-transition-duration) var(--main-transition-function);
}

.form__textarea::placeholder {
  font-size: var(--main-text-size);
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea:placeholder-shown {
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.form__textarea:not(:placeholder-shown), .form__textarea:focus {
  border-color: var(--accent-color);
}

.form__wrapper--checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  cursor: pointer;
  border: 1px solid var(--main-color-dark);
  border-radius: 2px;
  fill: var(--main-color-light);
}

.form__checkbox:checked + .form__wrapper--checkbox {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.form__check {
  width: 100%;
  height: 100%;
}

.form__wrapper--text {
  font-size: 12px;
  line-height: 1.17;
  color: var(--secondary-color-light);
}

.form__link {
  color: var(--accent-color);
  text-decoration: underline;
}

@media screen and (min-width: 1200px) {
  .form__text {
    line-height: 1.15;
  }
  .form__textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .form__wrapper--text {
    font-size: var(--main-text-size);
    line-height: 1.71;
    color: var(--secondary-color-light);
  }
}
/*# sourceMappingURL=main.css.map */