@charset "UTF-8";
:root {
  --grey-color: #757575;
  --hover-color: #2196f3;
  --link-color: #afb1b8;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

ul,
li,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 36px;
  line-height: 1.16;
  font-weight: bold;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h3 {
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.title {
  margin-bottom: 50px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container--range {
  padding: 94px 0;
}

.logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: #000000;
}

.logo:hover {
  color: #000000;
}

.logo__decoration {
  color: var(--hover-color);
}

.header {
  border-bottom: 1px solid #ececec;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__contacts__item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  position: relative;
}

.navigation__contacts__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.navigation__menu__link {
  color: black;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__menu__link:hover, .navigation__menu__link:focus {
  color: var(--hover-color);
}

.navigation__menu__link:active {
  color: #2196f3;
}

.navigation__menu__link.current {
  color: var(--hover-color);
  /**добавление подчеркивания ссылки активной страницы**/
}

.navigation__menu__link.current:after {
  position: absolute;
  bottom: -33px;
  display: block;
  width: 100%;
  height: 4px;
  content: '';
  background-color: var(--hover-color);
}

.navigation__menu__item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  position: relative;
}

.navigation__menu__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__contacts {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: auto;
}

.navigation__contacts__email, .navigation__contacts__tel {
  color: var(--grey-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__contacts__email:hover, .navigation__contacts__email:focus, .navigation__contacts__tel:hover, .navigation__contacts__tel:focus {
  color: var(--hover-color);
}

.navigation__contacts__icon {
  fill: var(--grey-color);
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__contacts__icon:hover, .navigation__contacts__icon:focus {
  fill: var(--hover-color);
}

.navigation__contacts__email:hover .navigation__contacts__icon,
.navigation__contacts__tel:hover .navigation__contacts__icon {
  fill: var(--hover-color);
}

.hero {
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-image.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-image.jpg");
  max-width: 1600px;
  height: 600px;
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  margin: 0 auto;
}

.hero__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__section__title {
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin: 0px;
  text-align: center;
}

.order__button {
  margin-top: 30px;
  color: #ffffff;
  background-color: var(--hover-color);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border: none;
}

.order__button:hover, .order__button:focus {
  background-color: #188CE8;
  -webkit-box-shadow: 0px 4px 4px 0px #00000026;
          box-shadow: 0px 4px 4px 0px #00000026;
}

.skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills__list__item {
  font-size: 14px;
  line-height: 1.7;
}

.skills__list__item:not(:last-child) {
  margin-right: 30px;
}

.skills__list__item--overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 0;
}

.skills__list__title {
  margin-bottom: 10px;
  text-transform: uppercase;
  line-height: 1.14;
  font-size: 14px;
  font-weight: 700;
}

.skills__list__text {
  color: var(--grey-color);
  font-weight: 400;
}

.activities {
  padding-top: 0;
}

.activities__title {
  text-align: center;
}

.activities__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.activities__item:not(:last-child) {
  margin-right: 30px;
}

.activities__thumb {
  position: relative;
}

.activities__item__sub {
  position: absolute;
  bottom: 0px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 70px;
  background-color: #2F303ACC;
}

.team {
  background-color: #f5f4fa;
}

.team .team__title {
  text-align: center;
}

.team .team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__card {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
}

.team__card:not(:last-child) {
  margin-right: 30px;
}

.team__card__sub {
  padding: 30px 0;
}

.team__card__name {
  text-transform: inherit;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.team__card__role {
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  color: var(--grey-color);
  font-weight: 400;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--link-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:focus {
  fill: #ffffff;
  background-color: var(--hover-color);
}

.clients-title {
  text-align: center;
}

.clients-logo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients-logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 90px;
  fill: var(--link-color);
  border: 1px solid var(--link-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-logo-link:hover, .clients-logo-link:focus {
  fill: var(--hover-color);
  border-color: var(--hover-color);
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer-info {
  text-decoration: none;
  list-style: none;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  color: #ffffff;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-side {
  margin-right: 70px;
}

.footer-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-social {
  margin-right: 93px;
}

.address {
  margin-top: 20px;
}

.footer-side .logo {
  color: #ffffff;
}

.nav-email-down,
.nav-tel-down {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  list-style: none;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-email-down:hover, .nav-email-down:focus,
.nav-tel-down:hover,
.nav-tel-down:focus {
  color: var(--hover-color);
}

.footer-social .social-list {
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer-social .social-list-icon {
  fill: #ffffff;
}

.footer-social .social-list-title {
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-social .social-list-item {
  background-color: #ffffff1a;
  border-radius: 50%;
  margin: 0px 10px 0px 0px;
}

.footer-form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-form-title {
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-form-input {
  width: 358px;
  height: 50px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-right: 12px;
  color: #ffffff;
  padding-left: 16px;
  cursor: pointer;
}

.footer-form-btn {
  padding: 0;
  width: 200px;
  height: 50px;
  background-color: var(--hover-color);
  color: #ffffff;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.footer-form-icon {
  margin-left: 10px;
}

.filters {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filters-item:not(:last-child) {
  margin-right: 8px;
}

.filters-item-button {
  padding: 6px 22px;
  font-family: roboto;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-item-button:hover, .filters-item-button:focus {
  background-color: var(--hover-color);
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px 0px #00000040;
          box-shadow: 0px 4px 4px 0px #00000040;
}

.project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project-list-item {
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list-item h3 {
  text-transform: inherit;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-list-item-link {
  display: block;
}

.project-list-item-link:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project-list-item-signature {
  padding: 20px 24px;
}

.project-list-item-signature p {
  color: var(--grey-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.project-wrapper {
  position: relative;
  overflow: hidden;
}

.card-set {
  margin-bottom: -30px;
}

.project-overlay {
  position: absolute;
  background-color: #2196F3E5;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  padding: 63px 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list-item-link:hover .project-overlay,
.project-list-item-link:focus .project-overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000033;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), pointer-events 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), pointer-events 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px 0px #00000033;
          box-shadow: 0px 2px 1px 0px #00000033;
  -webkit-box-shadow: 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001F;
          box-shadow: 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001F;
  border-radius: 4px;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 1px solid #0000001A;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover {
  fill: var(--hover-color);
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--grey-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.13;
}

.modal-form-head {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.13;
  text-align: center;
  margin-bottom: 12px;
  color: #000000;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  width: 100%;
  padding-left: 42px;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:hover, .modal-form-input:focus {
  outline: none;
  border: 1px solid var(--hover-color);
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
  margin-top: 6px;
}

.modal-form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:hover + .modal-form-icon,
.modal-form-input:focus + .modal-form-icon {
  fill: var(--hover-color);
}

.modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #000000;
}

.modal-form-message:hover, .modal-form-message:focus {
  outline: none;
  border-color: var(--hover-color);
}

.modal-form-checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.85;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.modal-form-checkbox-label:hover {
  cursor: pointer;
}

.modal-form-checkbox-label::before {
  margin-right: 7px;
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  background-image: url(../images/icons/vector.svg);
  -webkit-transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url(../images/icons/check.svg);
  width: 16px;
  height: 15px;
}

.modal-form-label-link {
  color: var(--hover-color);
  text-decoration: underline;
}

.modal-form-btn {
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  display: block;
  color: #ffffff;
  background-color: var(--hover-color);
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover, .modal-form-btn:focus {
  outline: none;
  background-color: #188CE8;
}
/*# sourceMappingURL=main.css.map */