.collection {
  &__item:not(:last-child) {
    margin-bottom: 30px;
  }

  &__link {
    display: block;
    transition: box-shadow var(--main-transition-duration) var(--main-transition-function);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:hover .overlay,
    &:focus .overlay {
      transform: translateY(-100%);
    }
  }
}

@media screen and (min-width: 768px) {
  .collection {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;

    &__item:not(:last-child) {
      margin-bottom: 0;
    }

    &__item {
      margin-top: 30px;
      margin-left: 30px;
      flex-basis: calc((100% - 60px) / 2);
    }
  }
}

@media screen and (min-width: 1200px) {
  .collection {
    &__item {
      flex-basis: calc((100% - 90px) / 3);
    }
  }
}
