.hero{
    background-color: #2f303a;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-image.jpg");
    max-width: 1600px;
    height: 600px;
    background-size: cover;
    background-position: center;
    padding: 200px 0;
    margin: 0 auto;

    &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    
        &__title {
            font-size: 44px;
            line-height: 1.36;
            font-weight: 900;
            color: #ffffff;
            text-transform: uppercase;
            letter-spacing: 0.06em;
            margin: 0px;
            text-align: center;
        }
    }
}

