.mobile-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow-y: auto;
  transform: scale(0.5);
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: var(--main-color-light);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  transition: transform var(--main-transition-duration) var(--main-transition-function),
    opacity var(--main-transition-duration) var(--main-transition-function),
    visibility var(--main-transition-duration) var(--main-transition-function);

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: scale(1);
  }

  &__closer {
    position: absolute;
    top: 21px;
    right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    fill: var(--secondary-color-dark);
    transition: fill var(--main-transition-duration) var(--main-transition-function);

    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__contacts {
    margin-bottom: 64px;
  }

  &__social {
    display: flex;
    justify-content: center;
  }

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__item--social {
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__item--social:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  &__link {
    font-weight: 500;
    letter-spacing: 0.02em;
    transition: color var(--main-transition-duration) var(--main-transition-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }

    &--nav {
      font-size: 40px;
      line-height: 1.18;
    }

    &--tel {
      font-size: 34px;
      line-height: 1.18;
      color: var(--accent-color);
    }

    &--mail {
      font-size: 24px;
      line-height: 1.17;
    }

    &--social {
      font-size: 18px;
      line-height: 1.22;
      color: var(--accent-color);
    }

    &--current {
      color: var(--accent-color);
    }
  }
}

@media screen and (max-width: 479px) {
  .mobile-menu {
    &__closer {
      width: 25px;
      height: 25px;
    }

    &__item:not(:last-child) {
      margin-bottom: 18px;
    }

    &__item--social {
      padding-left: 5px;
      padding-right: 5px;
    }

    &__link {
      &--nav {
        font-size: 24px;
      }

      &--tel {
        font-size: 18px;
      }

      &--mail {
        font-size: 12px;
      }

      &--social {
        font-size: 10px;
      }
    }
  }
}
