.footer {
    background-color: #2f303a;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-container{
        @include flex-center;
    }

    &-info {
        @include flex-center;
        text-decoration: none;
        list-style: none;
        font-size: 14px;
        font-style: normal;
        line-height: 1.7;
        color: #ffffff;
    }
    &-logo{
        margin-bottom: 20px;
    }
    &-address{
        margin-bottom: 60px;
    }

    &-item:not(:last-child){
        margin-bottom: 8px;
    }
        
    &-side {
        @include flex-center;
        // justify-content: center;
        // margin-right: 70px;
    }

//     &-blocks {
//         display: flex;
//     }

//     &-container {
//         display: flex;
//         align-items: baseline;
//     }

//     &-social{
//         margin-right: 93px;
//     }
// }
// .address{
//     margin-top: 20px;
// }

// .footer-side .logo {
//     color: #ffffff;
// }
.nav-email-down,
.nav-tel-down {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    list-style: none;
    font-size: 14px;
    font-style: normal;
    line-height: 1.7;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        color: var(--hover-color);
    }
}


.footer-social{
    margin-bottom: 60px;
    & .social-list {
        margin: 0px;
        padding: 0px;
        display: flex;
        justify-content: flex-start;

        &-icon {
            fill: #ffffff;
        }

        &-title {
            text-align: center;
            color: #ffffff;
            margin-bottom: 20px;
        }

        &-item {
            background-color: #ffffff1a;
            border-radius: 50%;
            margin: 0px 10px 0px 0px;
        }
    }
} 

.footer-form {
    @include flex-center;
        
    &-block{
        @include flex-center;
        // display: flex;
    }
    &-title{
        color: #ffffff;
        margin-bottom: 20px;
    }
    &-input{
        width: 358px;
        height: 50px;
        margin-bottom: 20px;
        background-color: inherit;
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        margin-right: 12px;
        color: #ffffff;
        padding-left: 16px;
        cursor: pointer;
    }
    &-btn{
        padding: 0;
        width: 200px;
        height: 50px;
        background-color: var(--hover-color);
        color: #ffffff;
        font-size: 16px;
        line-height: 1.87;
        font-weight: 700;
        letter-spacing: 0.06em;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        cursor: pointer;
        border:none;
    }
    &-icon{
        margin-left: 10px;
    }
}
}