.skills_section{
    justify-content: center;
}

// .skills__section{
//     padding-top: 94px;
// }
.skills__list {
    // display: flex;
        
    &__item {
        font-size: 14px;
        line-height: 1.7;

        &:not(:last-child) {
            margin-bottom: 30px;
            // margin-right: 30px;
        }

        &--overlay {
            display: flex;
            justify-content: center;
            background-color: #f5f4fa;
            border-radius: 4px;
            margin-bottom: 30px;
            padding: 25px 0;
        }
    }

    &__title {
        text-align: center;
        // margin-top: 30px;
        margin-bottom: 10px;
        text-transform: uppercase;
        line-height: 1.14;
        font-size: 14px;
        font-weight: 700;
    }

    &__text {
        color: var(--grey-color);
        font-weight: 400;
    }

}
