.teammate {
  margin: 0 auto;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-color-light);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  &__container {
    padding: 30px 0 24px;
    font-size: var(--secondary-text-size);
    line-height: 1.19;
  }

  &__title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: var(--secondary-text-size);
    line-height: 1.19;
  }

  &__text {
    margin-bottom: 16px;
    color: var(--secondary-color-light);
  }
}

@media screen and (min-width: 1200px) {
  .teammate {
    &__container {
      padding-bottom: 30px;
    }
  }
}
