body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: var(--main-text-size);
  letter-spacing: var(--main-text-letter-spacing);
  color: var(--main-color-dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  font-size: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
