.section {
  padding: 60px 0;
  text-align: center;

  &--services {
    display: none;
  }

  &--team {
    background-color: var(--background-color-light);
  }
}

.container {
  padding: 0 15px;
  margin: 0 auto;

  &--footer {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;

    &--footer {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;

    &--features {
      padding-bottom: 47px;
    }

    &--services {
      display: block;
      padding-top: 47px;
    }
  }

  .container {
    max-width: 1200px;

    &--footer {
      display: flex;
      flex-wrap: nowrap;
    }
  }
}

.list {
  list-style: none;
}

.link {
  font-size: inherit;
  text-decoration: none;
  color: var(--main-color-dark);
}

.button-base {
  font-family: inherit;
  cursor: pointer;
  color: var(--main-color-dark);
}
