.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    border: 1px solid red;
}

@media screen and(min-width: 480px){
    .container{
        max-width: 767px;
        margin: 0 auto;
    }
}
@media screen and(min-width: 768px) {
    .container{
        max-width: 1199px;
    }
}
@media screen and(min-width: 1200px){
    .container{
        width: 1200px;
        padding: 0;
    }
}
.container-range  {
    padding-top: 60px;
    padding-bottom: 60px;
}