.modal-form{
    display: flex;
    flex-direction: column;
    color: var(--grey-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.13;
        
    &-head{
        font-size: 20px;
        font-weight: 700;
        line-height: 1.13;
        text-align: center;
        margin-bottom: 12px;
        color: #000000;
    }
    &-field{
        margin-bottom: 10px;
    }
}
.modal-form-input{
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;
    width: 100%;
    padding-left: 42px;
    cursor: pointer;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
        outline: none;
        border:1px solid var(--hover-color);
    }
    &-wrapper{
        display: block;
        position: relative;
        margin-top: 6px;
    }

}
.modal-form-icon{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal-form-input:hover + &,
    .modal-form-input:focus + &{
        fill: var(--hover-color);
    }
}
.modal-form-message{
    resize: none;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #000000;
    &:hover,
    &:focus{
        outline: none;
        border-color: var(--hover-color);
    }
}
.modal-form-checkbox-label{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 1.85;
    font-weight: 400;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
        
    &:hover{
        cursor: pointer;
    }

}
.modal-form-checkbox-label::before{
    margin-right: 7px;
    display: block;
    content: "";
    width: 16px;
    height: 15px;
    background-image: url(../images/icons/vector.svg);
    transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    .modal-form-checkbox:checked + &{
        background-image: url(../images/icons/check.svg);
        width: 16px;
        height: 15px;
    }
}
.modal-form-label-link{
    color: var(--hover-color);
   text-decoration: underline;
}
